<section class="container mt-5">
  <div class="text-center">
    <h1 class="fw-bolder fs-1 mb-5" style="color: white;">Pesos en Rutinas</h1>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" height="300" xmlns="" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
          src="https://imgs.search.brave.com/Fo7Re9RAdsYGeZd5I4dMRG6LpkfN8-45dfXB46fukP0/rs:fit:736:912:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vNzM2/eC83ZS80MS80Ni83/ZTQxNDY2MzMwMTJh/ZjkyMTc2ZDE2YmNm/ODdiMTg5Ni5qcGc">

        <div class="card-body bg-dark">
          <p class="card-text fs-3 fw-bolder p-card">Pesos en rutina de Pecho</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" height="300" xmlns="" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
          src="https://imgs.search.brave.com/0OKSnmWM6R9XZunGkV9oS7q_Al8lRAT_mTVeZ7p_i74/rs:fit:1200:1043:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1wbWg3YzdPdDhR/VS9VVG1PSEhhRC1z/SS9BQUFBQUFBQUFK/NC9mc0dKZ2ZMZDV1/MC9zMTYwMC9pbWdf/MTM0OTk2OTI2NC5q/cGc">

        <div class="card-body bg-dark">
          <p class="card-text fs-3 fw-bolder p-card">Pesos en rutina de Hombro</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" height="300" xmlns="" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
          src="https://i.pinimg.com/originals/05/0b/7b/050b7bc5c6f88aa5617f0371ebc1ac48.png">

        <div class="card-body bg-dark">
          <p class="card-text fs-3 fw-bolder p-card">Pesos en rutina de Espalda</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col ms-auto">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" height="300" xmlns="" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
          src="https://www.muscleandfitness.com/wp-content/uploads/2019/07/Arnold-Showing-Forearms.jpg?quality=86&strip=all">

        <div class="card-body bg-dark">
          <p class="card-text fs-3 fw-bolder p-card">Pesos en rutina de Biceps/Triceps</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col me-auto">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" height="300" xmlns="" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
          src="https://d3h9ln6psucegz.cloudfront.net/wp-content/uploads/2019/08/Tom-Platz-1.jpg">

        <div class="card-body bg-dark">
          <p class="card-text fs-3 fw-bolder p-card">Pesos en rutina de Pierna</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>




<div class="container mt-5">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#">ad</a></li>
      <li class="ms-3"><a class="text-muted" href="#">asd</a></li>
      <li class="ms-3"><a class="text-muted" href="#">asd</a></li>
    </ul>
  </footer>
</div>
